/* media -1300px start */

@media screen and (max-width:1300px) {

        .mainheading {
                top: 262px;
                font-size: 35px;
        }

        .widgetmain {
                top: 530px
        }

        .selectbox {
                min-width: 160px;
        }

        .orangebox {
                bottom: 36px;
        }

        .bestplans {
                margin-top: 0px;
        }
}

/* media -1300px end */


/* media -1250px start */

@media screen and (max-width:1250px) {

        .orangebox {
                bottom: 58px;
        }

        .bodysection {
                padding-top: 96px;
        }

}

/* media -1250px end */

/* media -1800px start */

@media screen and (max-width:1080px) {

        .logohaya {
                width: 80px;
        }

        .navigation {
                display: none;
        }

        .getinsurance {
                display: none;
        }

        .menubar {
                display: block;
        }

        .menunavigation {
                right: -1900px;
                display: block;
        }

        .mainheading {
                top: 213px;
                font-size: 32px;
        }

        .widgetmain {
                top: 437px;
        }

        .widgetbox {
                font-size: 12px;
                margin-left: 36px;
        }

        .selectbox {
                min-width: 128px;
        }

        .icon {
                width: 28px;
        }

        .icons {
                width: 43px;
        }

        .medium {
                font-size: 14px;
        }

        .calculateprice {
                width: 89%;
                height: 58px;
        }

        .bodysection {
                padding-top: 10px;
        }

        .aboutimage {
                height: 336px;
        }

        .orangebox {
                left: 72px;
                bottom: 32px;
        }

        .bestplans {
                margin-top: 0px;
        }

        .feedbackname {
                width: 35%;
                left: 80px;
        }

        .imageh {
                min-height: 86%;
        }
}

/* media -1800px end */

/* media -900px start */

@media screen and (max-width:900px) {

        .mainheading {
                top: 196px;
                font-size: 30px;
        }

        .widgetmain {
                top: 375px;
        }

        .bookingwidget {
                border-radius: 18px;
        }

        .selectbox {
                min-width: 95px;
        }

        .banner {
                height: 783px;
        }

        .orangebox {
                left: 68px;
                bottom: 47px;
        }

        .aboutp {
                display: none;
        }

        .box {
                gap: 67px
        }

        .imageh {
                border-radius: 16px;
                min-height: 69%;
        }
}

/* media -900px endpx */

/* media -800px endpx */


@media screen and (max-width: 800px) {

        .orangebox {
                bottom: 170px;
        }

        .aboutimage {
                height: 384px;
        }

        .orangebox {
                left: 68px;
                bottom: 100px;
        }
}

/* media -800px end */

/* media -768px start */

@media screen and (max-width: 768px) {

        .banner {
                height: auto;
                width: 100%;
        }

        .header {
                height: 53px;
                border-radius: 0 0 29px 29px;
        }

        .logo {
                height: 38px;
        }

        .logohaya {
                width: 68px;
        }

        .calculateprice {
                width: 234px;
                height: 53px;
        }

        .mainheading {
                top: 117px;

                font-size: 22px;
        }

        .widgetmain {
                top: 190px;
                margin-bottom: 108px;
        }

        .widgetbox {
                font-size: 9px;
                border-radius: 20px 20px 0 0;
        }

        .bookingwidget {
                grid-template-columns: auto auto;
                border-radius: 15px;
        }

        .selectbox {
                min-width: 230px;
        }

        .moreplans {
                font-size: 16px;
                margin: 10px 0 0 31px;
        }

        .bodysection {
                padding-top: 107px;
        }

        .orangebox {
                left: 98px;
                top: 222px;
        }

        .about {
                height: auto;
                flex-direction: column;
                padding-bottom: 28px;
        }

        .abouttext {
                text-align: center;
                height: auto;
                max-width: 100%;
        }

        .aboutheading {
                text-align: center;
        }

        .aboutimage {
                width: 100%;
                height: 366px;
        }

        .abouthaya {
                font-size: 17px;
        }

        .plansbox {
                width: 100%;
                height: 287px;
        }

        .box {
                justify-content: space-evenly;
                gap: 26px
        }

        .familyhealth {
                flex-direction: column;
        }

        .blackk {
                font-size: 36px;
        }

        .healthheading {
                font-size: 20px;
        }

        .healthtext {
                max-width: 100%;
                text-align: center;
                align-items: center;
        }

        .readmore {
                margin-bottom: 10px;
        }

        .featuresbox {
                width: 100%;
        }

        .awardbox {
                width: 100%;
        }

        .feedbackbox {
                width: 100%;
        }

        .feedbacktext {
                padding: 0px 12px;
        }

        .footermain {
                grid-template-columns: auto auto;
                gap: 21px;
        }
}

/* media -768px end */

/* media -650px start */

@media screen and (max-width: 650px) {

        .orangebox {
                left: 93px;
                top: 200px;
        }

        .service {
                width: 117px;
                height: 117px;
        }
}


@media screen and (max-width: 600px) {

        .calculateprice {
                width: 215px;
        }

        .selectbox {
                min-width: 211px;
        }

        .moreplans {
                font-size: 14px;
                margin: 10px 0 0 23px;
        }

        .mainheading {
                top: 123px;
                font-size: 18px;
        }

        .orangebox {
                left: 84px;
                top: 175px;
        }

        .feedbackname {
                left: 88px;
                border-radius: 0 0 42px 0;
        }

        .box {
                padding-left: 10px;
        }
}

/* media -650px end */

/* media -550px start */

@media screen and (max-width: 550px) {



        .widgetbox {
                font-size: 7px;
        }

        .calculateprice {
                width: 180px;
                font-size: 10px;
        }

        .selectbox {
                min-width: 180px;
        }

        .moreplans {
                font-size: 12px;
                margin: 15px 0 0 23px;
        }

        .abouthaya {
                font-size: 15px;
        }

        .orangebox {
                left: 78px;
                top: 154px;
        }

        .bodycontent {
                padding-bottom: 50px;
        }

        .ficonmain {
                gap: 10px;
        }
}

/* media -550px end */

/* media -500px start */

@media screen and (max-width: 500px) {

        .menunavigation {
                right: -500px;
        }

        .getinsurancee {
                width: 47%;
        }

        .mainheading {
                text-align: center;
                font-size: 15px;
        }

        .widgetmain {
                top: 165px;
        }

        .widgetbox {
                width: 66%;
                padding: 9px;
                border-radius: 16px 14px 0 0;
                font-size: 11px;
                margin-left: 64px;
                height: auto;
        }

        .bookingwidget {
                grid-template-columns: auto;
                row-gap: 19px;
        }

        .selectbox {
                min-width: 247px;
        }

        .calculateprice {
                width: 250px;
                font-size: 10px;
        }

        .bodysection {
                padding: 95px 8% 50px 8%;
        }

        .moreplans {
                font-size: 12px;
                margin: 15px 0 0 0px;
        }

        .about {
                padding-bottom: 12%;
        }

        .aboutimage {
                height: auto;

        }

        .orangebox {
                left: 74px;
                top: 115px;
        }

        .bestplans {
                margin-top: 22px;
        }

        .plansboxmain {
                flex-direction: column;
        }

        .plansbox {
                height: 198px;
        }

        .box {
                flex-direction: column;
                height: 765px;
                justify-content: space-evenly;
        }

        .mainbox {
                align-items: center;
                width: 45%;
                text-align: center;
        }

        .service {
                height: 95px;
                width: 95px;
        }

        .padding {
                padding-left: 0px;
        }

        .bodycontent {
                row-gap: 27px;
        }

        .featuresmain {
                flex-direction: column;
        }

        .featuresbox {
                height: 236px;
        }

        .featuresimg {
                height: 189px;
        }

        .award {
                padding-bottom: 0px;
        }

        .awardmain {
                flex-direction: column;
        }

        .awardimg {
                height: 241px;
        }

        .abouthaya {
                font-size: 15px;
        }

        .healthheading {
                font-size: 19px;
        }

        .abouthealth {
                font-size: 15px;
        }

        .personfeedback {
                display: flex;
                padding: 0px 10px;
                text-align: left;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
        }

        .feedbackname {
                border-radius: 10px;
                right: -1px;
                top: -13px;
        }

        .feedbacktext {
                width: 82%;
                text-align: center;
                padding: 0px 22px;
        }

        .star {
                margin-right: 43px;
        }

        .footerlogo {
                margin-left: 141px;
        }

        .ficonmain {
                justify-content: center;
        }

        .footertext {
                width: 100%;
        }

        .footermain {
                text-align: center;
                grid-template-columns: auto;
        }
}

/* media -500px end */

/* media -450px start */

@media screen and (max-width: 450px) {
        .orangebox {
                left: 69px;
                top: 93px;
        }

        .widgetbox {
                font-size: 9px;
                margin-left: 56px;
        }
}

/* media -450px end */

/* media -400px start */

@media screen and (max-width: 400px) {
        .mainheading {
                font-size: 13px;
        }

        .orangebox {
                top: 69px;
        }

        .footerlogo {
                margin-left: 118px;
        }

        /* media -400px end */

        @media screen and (max-width:350px) {
                .footerlogo {
                        margin-left: 105px;
                }

                .orangebox {
                        top: 46px;
                        left: 63px;
                }

                .widgetbox {
                        font-size: 7px;
                        margin-left: 45px;
                }

                .widgetmain {
                        top: 157px;
                }
        }
}

/* media -400px end */