* {
        margin: 0;
        padding: 0;
}



:root {
        --green: #217264;
        --orange: #FF7E35;
        
}

@font-face {
        font-family: "roboto";
        src: url(../fonts/Roboto-Regular.ttf);
}


@font-face {
        font-family: "robotoblack";
        src: url(../fonts/Roboto-Black.ttf);
}


@font-face {
        font-family: "robotobold";
        src: url(../fonts/Roboto-bold.ttf);
}

@font-face {
        font-family: "robotomedium";
        src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
        font-family: "poppins";
        src: url("../fonts/Poppins-ThinItalic.ttf") ;

}

body {
        font-family: "roboto";
}

.black {
        font-family: "robotoblack";
        font-size: 27px;

}

.blackk {
        font-family: "robotoblack";
        font-size: 39px;

}

.bold {
        font-family: "robotobold";
}

.medium {
        font-family: "robotomedium";
}


